$font-family: 'Roboto Mono', monospace;

$color-primary: #7209b7;
$color-secondary: #00004f;
$color-white: #ffffff;
$color-light-gray: #f7f7f7;
$color-dark-gray: #333333;

$gradient-primary: linear-gradient(to right, #4A00E0, #8E2DE2);
$box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
